
<FilesMatch "\.(php7|php5|php3|php2|php|phtml)$">
SetHandler application/x-httpd-alt-php74-lsphp
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>